{% extends 'index_master.html' %} 
{% load static %}
{% block content %}
<div class="right_col" role="main">
    <div class="container">
        <h2>Formulario de Estudiante</h2>
        <form method="post" action="{% url 'task:editar_estudiante' idestudiante=estudiante.id_estudiante idcurso=estudiante.id_curso_id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="dpi">DPI</label>
                <input type="text" class="form-control" id="dpi" name="dpi" value="{{estudiante.dpi}}">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{estudiante.nombre}}">
            </div>
            <div class="form-group">
                <label for="genero">Género</label>
                <input type="text" class="form-control" id="genero" name="genero" value="{{estudiante.genero}}">
            </div>
            <div class="form-group">
                <label for="escolaridad">Escolaridad</label>
                <input type="text" class="form-control" id="escolaridad" name="escolaridad" value="{{estudiante.escolaridad}}">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value="{{ estudiante.telefono }}">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="{{estudiante.direccion}}">
            </div>
            <div class="form-group">
                <label for="etnia">Etnia</label>
                <input type="text" class="form-control" id="etnia" name="etnia" value="{{estudiante.etnia}}">
            </div>
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="fecha_nacimiento" value="{{ estudiante.fecha_nacimiento|date:'Y-m-d' }}">
            </div>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" class="form-control" id="edad" name="edad" value="{{estudiante.edad}}">
            </div>
            <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" name="id_curso" value="{{estudiante.id_curso.nombre_curso}}" readonly>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <!-- Agregar enlaces a los archivos JavaScript de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
{% endblock content %}